* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: noen;
}

.container {
    width: 100%;
    display: grid;
    grid-template-rows: 70px auto;
    grid-template-areas: 
    "navbar navbar navbar"
    "main main main"
}

.navbar {
    grid-area: navbar;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #eee;
    border-bottom: 1px solid #ccc;
}

.navbar i {
    color: rgb(109, 0, 210);
    font-size: 23px;
    cursor: pointer;
}

.navbar i:hover {
    color: rgb(86, 1, 165);
}

.main {
    background-color: #f3f3f3;
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 10px;
    padding-top: 30px;
}

.items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    width: 30rem;
    padding: 10px;
    padding-bottom: 30px;
    background: white;
    margin-bottom: 30px;
    border-radius: 10px 10px 0 0;
    margin: 10px;
}

.title {
    font-size: 24px;
    margin: 10px;
}

.price {
    font-size: 20px;
    color: green;
    margin: 10px;
}

.btn {
    width: 25%;
    height: 25px;
    margin-left: 10px;
    border: 1px solid rgb(86, 1, 165);
    color: rgb(86, 1, 165);
    font-size: 15px;
    border-radius: 3px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(86, 1, 165);
    color: white;
}

.productImg {
    width: 100%;
    height: 258px;
    border-radius: 10px 10px 0 0;
}

.footer {
    background-color: blue;
    grid-area: footer;
}

.cart {
    position: absolute;
    width: 40rem;
    max-height: 30rem;
    background-color: #eee;
    top: 20%;
    border: 1px solid #ccc;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
    overflow-y: scroll;
    display: none;
}

.backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}

.cartItem {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.cartImg {
    width: 30%;
}

.cartImg img {
    width: 100%;
    border-radius: 5px;
}

.cartTitle {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: normal;
    padding: 10px;
}

.cartName {
    font-size: 20px;
    margin: 10px;
}

.fa-trash {
    margin-right: 40px;
    cursor: pointer;
}

.fa-trash:hover {
    color: rgb(196, 0, 0);
}

.counter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.counter i {
    cursor: pointer;
}

.up {
    color: rgb(86, 1, 165);
}

.down {
    color: rgb(255, 0, 55);
}

.details {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
}

.clearCart, .confrimCart {
    padding: 3px;
    width: 25%;
    border: 1px solid rgb(86, 1, 165);
    border-radius: 13px;
    color: rgb(86, 1, 165);
    cursor: pointer;
}

.clearCart:hover, .confrimCart:hover {
    background-color:rgb(86, 1, 165);
    color: white;
}

.content-number {
    position: absolute;
    color: white;
    background: #ff5371;
    font-size: 14px;
    padding: 4px;
    border-radius: 50%;
    left: 19px;
    top: -11px;
}

@media screen and (max-width:638px) {
    .cart {
        width: 100%;
    }

    .cartItem {
        flex-direction: column;
    }

    .details {
        flex-direction: column;
    }

    .total-price {
        margin-bottom: 5px;
    }

    .clearCart, .confrimCart {
        width: 50%;
        margin: 5px;
    }

    .title-price {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .fa-trash {
        color: rgb(98, 0, 0);
        margin: 5px;
        margin-top: 10px;
    }
}

@media screen and (max-width:412px) {
    .cart {
        width: 100%;
    }
}


